#App {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.tile {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}