body {
  background: linear-gradient(143deg, #9b9aff, #afb1ff);
}

h1,
h2,
h3,
p,
i {
  background: linear-gradient(180deg, #f72585, #3a0ca3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}


h1 {
  font-size: 50px;
}

p {
  margin: 0;
  line-height: 1.5em;
  font-size: 20px;
}

#App {
  text-align: center;
  margin: 10px 0;
}

#game {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 360px;
  height: 360px;
  margin: 0 auto;
}

.tile {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffc6ff, #caffbf);
  color: #03045e;
  border-radius: 10px;
  border: 3px solid #03045e;
}

#score {
  margin: 20px;
}

#arrows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  margin: 30px auto;
  width: 150px;
  height: 150px;
}

#arrow-top {
  grid-row: 1/2;
  grid-column: 2/3;
}

#arrow-right {
  grid-row: 2/3;
  grid-column: 3/4;
}

#arrow-bottom {
  grid-row: 3/4;
  grid-column: 2/3;
}

#arrow-left {
  grid-row: 2/3;
  grid-column: 1/2;
}

@media only screen and (min-width: 450px) {
  #arrows {
    display: none;
  }
}

#instruction {
  margin-bottom: 50px;
}

#instruction h2 {
  margin: 0;
}

#instruction a {
  font-size: 30px;
}