body {
  background: linear-gradient(143deg, #9b9aff, #afb1ff);
}

h1,
h2,
h3,
p {
  background: linear-gradient(180deg, #f72585, #3a0ca3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

p {
  line-height: 1.5em;
}

#App {
  text-align: center;
  margin: 40px 0;
}

#game {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 360px;
  height: 360px;
  margin: 0 auto;
}

.tile {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffc6ff, #caffbf);
  color: #03045e;
  border-radius: 10px;
  border: 3px solid #03045e;
}

#score {
  margin: 20px;
}

#instruction {
  margin-bottom: 50px;
}